{
  "env": {
    "local": {
      "db": "http://127.0.0.1:5984/asdmusicapp"
    },
    "cloudant": {
      "db": "https://isediscelleentrandstorms:StmXXhWRrvR0kNmq7b5j3hYB@bruger.cloudant.com/asdmusicapp"
    }
  }
}
